* {
    margin: 0;
    padding: 0;   
  }

  html,body{
    height:100%;
    width:100%;
  }

.container{
    height:100%;
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
   
}

.sidebar{
    background-color: brown;
    color: white;
    font-weight: bold;
    grid-row: 1 / span 2;

    display:grid;
    grid-template-rows: 100px 1fr ;
    grid-template-columns: 1fr;

    
}

.sidebar div{
    padding-left: 25px;
    padding-top: 25px;
}

.sidebar div div{
    padding: 10px
}

.sidebar img{
    padding-right: 10px;
}



.header{
    background-color: blueviolet;
    grid-column-start: 2;

    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.headerTop{
    grid-row-start: 1;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
}

.headerBottom{
    grid-row-start: 2;
}

.content{
    background-color: aqua;
    grid-column-start: 2;
    grid-row-start: 2;

    display:grid;
    grid-template-columns: 3fr 1fr;
}

.projects{
    grid-column-start: 1;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
    gap:15px;
}

.projectcard{
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
}

.announcements, .trending{
    grid-column-start: 2;
}
