* {
    margin: 0;
    padding: 0; 
    font-family: Montserrat;
  }

  html,body{
    height:100%;
    width:100%;
  }

.container{
    height:100%;
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
   
}

.sidebar{
    background-color: #A4036F;
    color: white;
    font-weight: bold;
    font-size:larger;
    grid-row: 1 / p 2;

    display:grid;
    grid-template-rows: 100px 1fr ;
    grid-template-columns: 1fr;

    
}

.sidebar div{
    padding-left: 25px;
    padding-top: 25px;
}

.sidebar div div{
    padding: 10px
}

.sidebar img{
    padding-right: 10px;
}



.header{
    background-color: white;
    grid-column-start: 2;

    display:grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    
    
}

.headerTop{
    grid-row-start: 1;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    
}

.right{
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: center;
    
    
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items:center;
    justify-items:center;
}

.right p{
    display:inline;
    font-size: larger; 
    font-weight: 600;
}


.left{
    padding-left:25px;
    align-self:center;
    
    
}

.left button{ 
    border:0;
    background:transparent;
    margin-right: 20px;
    margin-left:10px;
}

#bar{
    width:70%;
     border-radius: 20px;
    height:2em;
    background-color: #D1D0DC;
      
}

.headerBottom{
    grid-row-start: 2;
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns: 180px 1fr 1fr;
    
    
}

.headerBottom img{
    padding-left: 25px;
    height:90%;
}

.greeting{
    grid-column-start: 2;
    display:grid;
    grid-template-rows: 1fr 1fr;
    font-size:2em;
    font-weight:600;
    margin-bottom:30px;
}

.hi{
    font-size:medium;
    align-self:end;
}

.buttons{
    grid-column-start: 3;
    align-self: center;
}

.buttons button{
    margin-left:80px;
    border-radius: 20px;
    width:20%;
    height:2.5em;
    font-size:large;
    font-weight:600;
    background-color: #A4036F;
    color:white;
}

.content{
    background-color: #D1D0DC;
    grid-column-start: 2;
    grid-row-start: 2;

    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px auto;
}

.content span{
    font-size:larger;
    font-weight:600;
    align-self:end;
    margin-bottom:5px;
}

.content span:only-of-type{
    margin-left:25px;
}

.projects{
    grid-column-start: 1;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr) 50px;
    margin-left:25px;
    margin-right:25px;
    
    gap:15px;
    
}



.projectcard{
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 15px;
    box-shadow: 2px 2px #888888;
    display:grid;
    grid-template-rows: 50px .5fr 1fr;
    
    border-left: 10px solid #fbb385;
}

.projectcard p{
    align-self:end;
    font-size:large;
    font-weight:600;
    margin-left:5%;
}

.summary{
    font-size: medium;
    
    margin-left:5%;
    margin-right:5%;
}

.icons{
    align-self:center;
    justify-self:end;
    margin-right:5%;
}

.icons img{
    margin-left:15px;
}

.news{
    grid-column-start: 2;
    grid-row-start:1;
    display:grid;
    grid-template-rows: 50px 1fr 50px 1fr;
}

.announcements{
    grid-row-start: 2;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 15px;
     margin-right:25px;
    box-shadow: 2px 2px #888888;
}

.announce{
    display:grid;
    grid-template-rows: .5fr 1fr;
    margin-top:15px;
    margin-bottom:20px;
    margin-left:25px;
    margin-right:25px;
    font-size:medium;
    font-weight:500;
}

.announce p{
    font-size:small;
    font-weight: initial; 
   
}

hr{
    margin-left:25px;
    margin-right:25px;
    opacity: .5;
    
}

.trending{
    grid-row-start:4;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 15px;
     margin-right:25px;
    align-self:end;
    box-shadow: 2px 2px #888888;
}

.trend{
    display:grid;
    grid-template-columns: 110px 1fr;
    align-items:center;
    justify-items:end;
    padding-top:10px;
    padding-bottom:10px;
    
}

.trendInfo{
    justify-self:start;
    margin-left:15px;
}

.trendInfo p:first-child{
    font-weight:500;
}